In [58]:
import requests
from bs4 import BeautifulSoup
url = 'https://webscraper.io/test-sites/e-commerce/allinone/computers/tablets'
r = requests.get(url)
# r

In [59]:
soup = BeautifulSoup(r.text)
# soup

In [60]:
boxes = soup.find_all('div',class_ = 'col-sm-4 col-lg-4 col-md-4')
# boxes

In [61]:
names = soup.find_all('a',class_ ='title')
# names

In [62]:
for i in names:
    print(i.text)

Lenovo IdeaTab
IdeaTab A3500L
Acer Iconia
Galaxy Tab 3
Iconia B1-730HD
Memo Pad HD 7
Asus MeMO Pad
Amazon Kindle
Galaxy Tab 3
IdeaTab A8-50
MeMO Pad 7
IdeaTab A3500-H
IdeaTab S5000
Galaxy Tab 4
Galaxy Tab
MeMo PAD FHD 10
Galaxy Note
Galaxy Note
iPad Mini Retina
Galaxy Note 10.1
Apple iPad Air

In [63]:
prices = soup.find_all('h4',class_='pull-right price')
for i in prices:
    print(i.text)

$69.99
$88.99
$96.99
$97.99
$99.99
$101.99
$102.99
$103.99
$107.99
$121.99
$130.99
$148.99
$172.99
$233.99
$251.99
$320.99
$399.99
$489.99
$537.99
$587.99
$603.99

In [64]:
import pandas as pd

url1 = 'https://www.iplt20.com/auction/2022'
r = requests.get(url1)
r

In [65]:
soup = BeautifulSoup(r.text)
# soup

In [66]:
table = soup.find('table',class_='ih-td-tab auction-tbl')
for i in table:
    print(i.text)

                        TEAM
                        FUNDS REMAINING
                        OVERSEAS PLAYERS
                        TOTAL PLAYERS










                              Chennai Super Kings


                          ₹2,95,00,000
                          8
                          25







                              Delhi Capitals


                          ₹10,00,000
                          7
                          24







                              Gujarat Titans


                          ₹15,00,000
                          8
                          23







                              Kolkata Knight Riders


                          ₹45,00,000
                          8
                          25







                              Lucknow Super Giants


                          ₹0
                          7
                          21







                              Mumbai Indians


                          ₹10,00,000
                          8
                          25







                              Punjab Kings


                          ₹3,45,00,000
                          7
                          25







                              Rajasthan Royals


                          ₹95,00,000
                          8
                          24







                              Royal Challengers Bangalore


                          ₹1,55,00,000
                          8
                          22







                              Sunrisers Hyderabad


                          ₹10,00,000
                          8
                          23

In [67]:
header = []
title = table.find_all('th')
for i in title:
    name = i.text
    header.append(name)

In [68]:
df = pd.DataFrame(columns = header)
df

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [69]:
name =[]
rows = table.find_all('tr')
for i in rows[1:]:
    data = i.find_all('td')
    x = i.find('h2').text
    name.append(x)
    row = [tr.text for tr in data]
    l = len(df)
    df.loc[l] = row

In [80]:
# for i in range(len(name)):
df.iloc[:,0] = name

In [81]:
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22
9          Sunrisers Hyderabad      ₹10,00,000                 8            23

In [82]:
df.to_csv('ipl_auction_2022.csv')